<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-produit-commande-heading"
        data-cy="ProduitCommandeCreateUpdateHeading"
        jhiTranslate="blogApp.produitCommande.home.createOrEditLabel"
      >
        Create or edit a Produit Commande
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produitCommande.idProduit" for="field_idProduit">Id Produit</label>
          <input type="number" class="form-control" name="idProduit" id="field_idProduit" data-cy="idProduit" formControlName="idProduit" />
          <div *ngIf="editForm.get('idProduit')!.invalid && (editForm.get('idProduit')!.dirty || editForm.get('idProduit')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idProduit')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idProduit')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produitCommande.idCommande" for="field_idCommande">Id Commande</label>
          <input
            type="number"
            class="form-control"
            name="idCommande"
            id="field_idCommande"
            data-cy="idCommande"
            formControlName="idCommande"
          />
          <div *ngIf="editForm.get('idCommande')!.invalid && (editForm.get('idCommande')!.dirty || editForm.get('idCommande')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idCommande')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idCommande')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produitCommande.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
          <div *ngIf="editForm.get('quantite')!.invalid && (editForm.get('quantite')!.dirty || editForm.get('quantite')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantite')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantite')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be more than 50.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantite')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
