<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coperative-heading" data-cy="CoperativeCreateUpdateHeading" jhiTranslate="blogApp.coperative.home.createOrEditLabel">
        Create or edit a Coperative
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.coperative.idCoperative" for="field_idCoperative">Id Coperative</label>
          <input
            type="number"
            class="form-control"
            name="idCoperative"
            id="field_idCoperative"
            data-cy="idCoperative"
            formControlName="idCoperative"
          />
          <div
            *ngIf="editForm.get('idCoperative')!.invalid && (editForm.get('idCoperative')!.dirty || editForm.get('idCoperative')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idCoperative')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idCoperative')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.coperative.zoneGeographique" for="field_zoneGeographique"
            >Zone Geographique</label
          >
          <input
            type="text"
            class="form-control"
            name="zoneGeographique"
            id="field_zoneGeographique"
            data-cy="zoneGeographique"
            formControlName="zoneGeographique"
          />
          <div
            *ngIf="
              editForm.get('zoneGeographique')!.invalid &&
              (editForm.get('zoneGeographique')!.dirty || editForm.get('zoneGeographique')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('zoneGeographique')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
