<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="produitCommande">
      <h2 data-cy="produitCommandeDetailsHeading"><span jhiTranslate="blogApp.produitCommande.detail.title">Produit Commande</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ produitCommande.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produitCommande.idProduit">Id Produit</span></dt>
        <dd>
          <span>{{ produitCommande.idProduit }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produitCommande.idCommande">Id Commande</span></dt>
        <dd>
          <span>{{ produitCommande.idCommande }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produitCommande.quantite">Quantite</span></dt>
        <dd>
          <span>{{ produitCommande.quantite }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produit-commande', produitCommande.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
