<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span jhiTranslate="blogApp.client.detail.title">Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ client.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.idClient">Id Client</span></dt>
        <dd>
          <span>{{ client.idClient }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.idCoperative">Id Coperative</span></dt>
        <dd>
          <span>{{ client.idCoperative }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.nom">Nom</span></dt>
        <dd>
          <span>{{ client.nom }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.prenom">Prenom</span></dt>
        <dd>
          <span>{{ client.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.telephone">Telephone</span></dt>
        <dd>
          <span>{{ client.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.adresse">Adresse</span></dt>
        <dd>
          <span>{{ client.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.client.coperative">Coperative</span></dt>
        <dd>
          <div *ngIf="client.coperative">
            <a [routerLink]="['/coperative', client.coperative?.id, 'view']">{{ client.coperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
