<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commercant">
      <h2 data-cy="commercantDetailsHeading"><span jhiTranslate="blogApp.commercant.detail.title">Commercant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commercant.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.idCommercant">Id Commercant</span></dt>
        <dd>
          <span>{{ commercant.idCommercant }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.presentation">Presentation</span></dt>
        <dd>
          <span>{{ commercant.presentation }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.adresse">Adresse</span></dt>
        <dd>
          <span>{{ commercant.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.nom">Nom</span></dt>
        <dd>
          <span>{{ commercant.nom }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.idCoperative">Id Coperative</span></dt>
        <dd>
          <span>{{ commercant.idCoperative }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.disponibilite">Disponibilite</span></dt>
        <dd>
          <span>{{ commercant.disponibilite }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commercant.statutCommercant">Statut Commercant</span></dt>
        <dd>
          <span jhiTranslate="{{ 'blogApp.StatutCommercant.' + commercant.statutCommercant }}">{{ commercant.statutCommercant }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commercant', commercant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
