<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commande">
      <h2 data-cy="commandeDetailsHeading"><span jhiTranslate="blogApp.commande.detail.title">Commande</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commande.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.idCommande">Id Commande</span></dt>
        <dd>
          <span>{{ commande.idCommande }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.idClient">Id Client</span></dt>
        <dd>
          <span>{{ commande.idClient }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.idLivreur">Id Livreur</span></dt>
        <dd>
          <span>{{ commande.idLivreur }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.idCoperative">Id Coperative</span></dt>
        <dd>
          <span>{{ commande.idCoperative }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.statutCommande">Statut Commande</span></dt>
        <dd>
          <span jhiTranslate="{{ 'blogApp.StatutCommande.' + commande.statutCommande }}">{{ commande.statutCommande }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.client">Client</span></dt>
        <dd>
          <div *ngIf="commande.client">
            <a [routerLink]="['/client', commande.client?.id, 'view']">{{ commande.client?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.livreur">Livreur</span></dt>
        <dd>
          <div *ngIf="commande.livreur">
            <a [routerLink]="['/livreur', commande.livreur?.id, 'view']">{{ commande.livreur?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.commande.produitCommande">Produit Commande</span></dt>
        <dd>
          <span *ngFor="let produitCommande of commande.produitCommandes; let last = last">
            <a [routerLink]="['/produit-commande', produitCommande?.id, 'view']">{{ produitCommande.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commande', commande.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
