<div>
  <h2 id="page-heading" data-cy="LivreurHeading">
    <span jhiTranslate="blogApp.livreur.home.title">Livreurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.livreur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-livreur"
        [routerLink]="['/livreur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.livreur.home.createLabel"> Create a new Livreur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="livreurs?.length === 0">
    <span jhiTranslate="blogApp.livreur.home.notFound">No livreurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="livreurs && livreurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.idLivreur">Id Livreur</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.idCoperative">Id Coperative</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.telephone">Telephone</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.latitude">Latitude</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.longitude">Longitude</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.statutLivreur">Statut Livreur</span></th>
          <th scope="col"><span jhiTranslate="blogApp.livreur.coperative">Coperative</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livreur of livreurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/livreur', livreur.id, 'view']">{{ livreur.id }}</a>
          </td>
          <td>{{ livreur.idLivreur }}</td>
          <td>{{ livreur.idCoperative }}</td>
          <td>{{ livreur.nom }}</td>
          <td>{{ livreur.prenom }}</td>
          <td>{{ livreur.telephone }}</td>
          <td>{{ livreur.latitude }}</td>
          <td>{{ livreur.longitude }}</td>
          <td jhiTranslate="{{ 'blogApp.StatutLivreur.' + livreur.statutLivreur }}">{{ livreur.statutLivreur }}</td>
          <td>
            <div *ngIf="livreur.coperative">
              <a [routerLink]="['/coperative', livreur.coperative?.id, 'view']">{{ livreur.coperative?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/livreur', livreur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/livreur', livreur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(livreur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
