<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-produit-heading" data-cy="ProduitCreateUpdateHeading" jhiTranslate="blogApp.produit.home.createOrEditLabel">
        Create or edit a Produit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.idProduit" for="field_idProduit">Id Produit</label>
          <input type="number" class="form-control" name="idProduit" id="field_idProduit" data-cy="idProduit" formControlName="idProduit" />
          <div *ngIf="editForm.get('idProduit')!.invalid && (editForm.get('idProduit')!.dirty || editForm.get('idProduit')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idProduit')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idProduit')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.nomProduit" for="field_nomProduit">Nom Produit</label>
          <input
            type="text"
            class="form-control"
            name="nomProduit"
            id="field_nomProduit"
            data-cy="nomProduit"
            formControlName="nomProduit"
          />
          <div *ngIf="editForm.get('nomProduit')!.invalid && (editForm.get('nomProduit')!.dirty || editForm.get('nomProduit')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomProduit')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomProduit')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomProduit')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30 }"
            >
              This field cannot be longer than 30 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.prix" for="field_prix">Prix</label>
          <input type="number" class="form-control" name="prix" id="field_prix" data-cy="prix" formControlName="prix" />
          <div *ngIf="editForm.get('prix')!.invalid && (editForm.get('prix')!.dirty || editForm.get('prix')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prix')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('prix')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.dispinobilite" for="field_dispinobilite">Dispinobilite</label>
          <input
            type="number"
            class="form-control"
            name="dispinobilite"
            id="field_dispinobilite"
            data-cy="dispinobilite"
            formControlName="dispinobilite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.produitCommande" for="field_produitCommande">Produit Commande</label>
          <select
            class="form-control"
            id="field_produitCommande"
            data-cy="produitCommande"
            name="produitCommande"
            formControlName="produitCommande"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                produitCommandeOption.id === editForm.get('produitCommande')!.value?.id
                  ? editForm.get('produitCommande')!.value
                  : produitCommandeOption
              "
              *ngFor="let produitCommandeOption of produitCommandesCollection; trackBy: trackProduitCommandeById"
            >
              {{ produitCommandeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.produit.commercant" for="field_commercant">Commercant</label>
          <select class="form-control" id="field_commercant" data-cy="commercant" name="commercant" formControlName="commercant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commercantOption.id === editForm.get('commercant')!.value?.id ? editForm.get('commercant')!.value : commercantOption
              "
              *ngFor="let commercantOption of commercantsSharedCollection; trackBy: trackCommercantById"
            >
              {{ commercantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
