<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="livreur">
      <h2 data-cy="livreurDetailsHeading"><span jhiTranslate="blogApp.livreur.detail.title">Livreur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ livreur.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.idLivreur">Id Livreur</span></dt>
        <dd>
          <span>{{ livreur.idLivreur }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.idCoperative">Id Coperative</span></dt>
        <dd>
          <span>{{ livreur.idCoperative }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.nom">Nom</span></dt>
        <dd>
          <span>{{ livreur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.prenom">Prenom</span></dt>
        <dd>
          <span>{{ livreur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.telephone">Telephone</span></dt>
        <dd>
          <span>{{ livreur.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.latitude">Latitude</span></dt>
        <dd>
          <span>{{ livreur.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.longitude">Longitude</span></dt>
        <dd>
          <span>{{ livreur.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.statutLivreur">Statut Livreur</span></dt>
        <dd>
          <span jhiTranslate="{{ 'blogApp.StatutLivreur.' + livreur.statutLivreur }}">{{ livreur.statutLivreur }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.livreur.coperative">Coperative</span></dt>
        <dd>
          <div *ngIf="livreur.coperative">
            <a [routerLink]="['/coperative', livreur.coperative?.id, 'view']">{{ livreur.coperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/livreur', livreur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
