<div>
  <h2 id="page-heading" data-cy="ProduitCommandeHeading">
    <span jhiTranslate="blogApp.produitCommande.home.title">Produit Commandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.produitCommande.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit-commande"
        [routerLink]="['/produit-commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.produitCommande.home.createLabel"> Create a new Produit Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produitCommandes?.length === 0">
    <span jhiTranslate="blogApp.produitCommande.home.notFound">No produitCommandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="produitCommandes && produitCommandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produitCommande.idProduit">Id Produit</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produitCommande.idCommande">Id Commande</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produitCommande.quantite">Quantite</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produitCommande of produitCommandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produit-commande', produitCommande.id, 'view']">{{ produitCommande.id }}</a>
          </td>
          <td>{{ produitCommande.idProduit }}</td>
          <td>{{ produitCommande.idCommande }}</td>
          <td>{{ produitCommande.quantite }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produit-commande', produitCommande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produit-commande', produitCommande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(produitCommande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
