<div>
  <h2 id="page-heading" data-cy="CommandeHeading">
    <span jhiTranslate="blogApp.commande.home.title">Commandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.commande.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commande"
        [routerLink]="['/commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.commande.home.createLabel"> Create a new Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
    <span jhiTranslate="blogApp.commande.home.notFound">No commandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.idCommande">Id Commande</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.idClient">Id Client</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.idLivreur">Id Livreur</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.idCoperative">Id Coperative</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.statutCommande">Statut Commande</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.client">Client</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.livreur">Livreur</span></th>
          <th scope="col"><span jhiTranslate="blogApp.commande.produitCommande">Produit Commande</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a>
          </td>
          <td>{{ commande.idCommande }}</td>
          <td>{{ commande.idClient }}</td>
          <td>{{ commande.idLivreur }}</td>
          <td>{{ commande.idCoperative }}</td>
          <td jhiTranslate="{{ 'blogApp.StatutCommande.' + commande.statutCommande }}">{{ commande.statutCommande }}</td>
          <td>
            <div *ngIf="commande.client">
              <a [routerLink]="['/client', commande.client?.id, 'view']">{{ commande.client?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="commande.livreur">
              <a [routerLink]="['/livreur', commande.livreur?.id, 'view']">{{ commande.livreur?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let produitCommande of commande.produitCommandes; let last = last">
              <a class="form-control-static" [routerLink]="['/produit-commande', produitCommande.id, 'view']">{{ produitCommande.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commande', commande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(commande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
