<div>
  <h2 id="page-heading" data-cy="ProduitHeading">
    <span jhiTranslate="blogApp.produit.home.title">Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.produit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit"
        [routerLink]="['/produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.produit.home.createLabel"> Create a new Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
    <span jhiTranslate="blogApp.produit.home.notFound">No produits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="produits && produits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.idProduit">Id Produit</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.nomProduit">Nom Produit</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.prix">Prix</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.description">Description</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.dispinobilite">Dispinobilite</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.produitCommande">Produit Commande</span></th>
          <th scope="col"><span jhiTranslate="blogApp.produit.commercant">Commercant</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a>
          </td>
          <td>{{ produit.idProduit }}</td>
          <td>{{ produit.nomProduit }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.description }}</td>
          <td>{{ produit.dispinobilite }}</td>
          <td>
            <div *ngIf="produit.produitCommande">
              <a [routerLink]="['/produit-commande', produit.produitCommande?.id, 'view']">{{ produit.produitCommande?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="produit.commercant">
              <a [routerLink]="['/commercant', produit.commercant?.id, 'view']">{{ produit.commercant?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
