<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commercant-heading" data-cy="CommercantCreateUpdateHeading" jhiTranslate="blogApp.commercant.home.createOrEditLabel">
        Create or edit a Commercant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.idCommercant" for="field_idCommercant">Id Commercant</label>
          <input
            type="number"
            class="form-control"
            name="idCommercant"
            id="field_idCommercant"
            data-cy="idCommercant"
            formControlName="idCommercant"
          />
          <div
            *ngIf="editForm.get('idCommercant')!.invalid && (editForm.get('idCommercant')!.dirty || editForm.get('idCommercant')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idCommercant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idCommercant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.presentation" for="field_presentation">Presentation</label>
          <input
            type="text"
            class="form-control"
            name="presentation"
            id="field_presentation"
            data-cy="presentation"
            formControlName="presentation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
          <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('adresse')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('adresse')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 10 }"
            >
              This field is required to be at least 10 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('adresse')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.idCoperative" for="field_idCoperative">Id Coperative</label>
          <input
            type="number"
            class="form-control"
            name="idCoperative"
            id="field_idCoperative"
            data-cy="idCoperative"
            formControlName="idCoperative"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.disponibilite" for="field_disponibilite">Disponibilite</label>
          <input
            type="text"
            class="form-control"
            name="disponibilite"
            id="field_disponibilite"
            data-cy="disponibilite"
            formControlName="disponibilite"
          />
          <div
            *ngIf="
              editForm.get('disponibilite')!.invalid && (editForm.get('disponibilite')!.dirty || editForm.get('disponibilite')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('disponibilite')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commercant.statutCommercant" for="field_statutCommercant"
            >Statut Commercant</label
          >
          <select
            class="form-control"
            name="statutCommercant"
            formControlName="statutCommercant"
            id="field_statutCommercant"
            data-cy="statutCommercant"
          >
            <option [ngValue]="null">{{ 'blogApp.StatutCommercant.null' | translate }}</option>
            <option *ngFor="let statutCommercant of statutCommercantValues" [value]="statutCommercant">
              {{ 'blogApp.StatutCommercant.' + statutCommercant | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('statutCommercant')!.invalid &&
              (editForm.get('statutCommercant')!.dirty || editForm.get('statutCommercant')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('statutCommercant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
