<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="coperative">
      <h2 data-cy="coperativeDetailsHeading"><span jhiTranslate="blogApp.coperative.detail.title">Coperative</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ coperative.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.coperative.idCoperative">Id Coperative</span></dt>
        <dd>
          <span>{{ coperative.idCoperative }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.coperative.zoneGeographique">Zone Geographique</span></dt>
        <dd>
          <span>{{ coperative.zoneGeographique }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coperative', coperative.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
