<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commande-heading" data-cy="CommandeCreateUpdateHeading" jhiTranslate="blogApp.commande.home.createOrEditLabel">
        Create or edit a Commande
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.idCommande" for="field_idCommande">Id Commande</label>
          <input
            type="number"
            class="form-control"
            name="idCommande"
            id="field_idCommande"
            data-cy="idCommande"
            formControlName="idCommande"
          />
          <div *ngIf="editForm.get('idCommande')!.invalid && (editForm.get('idCommande')!.dirty || editForm.get('idCommande')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idCommande')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idCommande')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.idClient" for="field_idClient">Id Client</label>
          <input type="number" class="form-control" name="idClient" id="field_idClient" data-cy="idClient" formControlName="idClient" />
          <div *ngIf="editForm.get('idClient')!.invalid && (editForm.get('idClient')!.dirty || editForm.get('idClient')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idClient')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idClient')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.idLivreur" for="field_idLivreur">Id Livreur</label>
          <input type="number" class="form-control" name="idLivreur" id="field_idLivreur" data-cy="idLivreur" formControlName="idLivreur" />
          <div *ngIf="editForm.get('idLivreur')!.invalid && (editForm.get('idLivreur')!.dirty || editForm.get('idLivreur')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idLivreur')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idLivreur')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.idCoperative" for="field_idCoperative">Id Coperative</label>
          <input
            type="number"
            class="form-control"
            name="idCoperative"
            id="field_idCoperative"
            data-cy="idCoperative"
            formControlName="idCoperative"
          />
          <div
            *ngIf="editForm.get('idCoperative')!.invalid && (editForm.get('idCoperative')!.dirty || editForm.get('idCoperative')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idCoperative')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idCoperative')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.statutCommande" for="field_statutCommande">Statut Commande</label>
          <select
            class="form-control"
            name="statutCommande"
            formControlName="statutCommande"
            id="field_statutCommande"
            data-cy="statutCommande"
          >
            <option [ngValue]="null">{{ 'blogApp.StatutCommande.null' | translate }}</option>
            <option *ngFor="let statutCommande of statutCommandeValues" [value]="statutCommande">
              {{ 'blogApp.StatutCommande.' + statutCommande | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('statutCommande')!.invalid && (editForm.get('statutCommande')!.dirty || editForm.get('statutCommande')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('statutCommande')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.client" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.commande.livreur" for="field_livreur">Livreur</label>
          <select class="form-control" id="field_livreur" data-cy="livreur" name="livreur" formControlName="livreur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="livreurOption.id === editForm.get('livreur')!.value?.id ? editForm.get('livreur')!.value : livreurOption"
              *ngFor="let livreurOption of livreursSharedCollection; trackBy: trackLivreurById"
            >
              {{ livreurOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="blogApp.commande.produitCommande" for="field_produitCommandes">Produit Commande</label>
          <select
            class="form-control"
            id="field_produitCommandes"
            data-cy="produitCommande"
            multiple
            name="produitCommandes"
            formControlName="produitCommandes"
          >
            <option
              [ngValue]="getSelectedProduitCommande(produitCommandeOption, editForm.get('produitCommandes')!.value)"
              *ngFor="let produitCommandeOption of produitCommandesSharedCollection; trackBy: trackProduitCommandeById"
            >
              {{ produitCommandeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
