<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="produit">
      <h2 data-cy="produitDetailsHeading"><span jhiTranslate="blogApp.produit.detail.title">Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ produit.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.idProduit">Id Produit</span></dt>
        <dd>
          <span>{{ produit.idProduit }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.nomProduit">Nom Produit</span></dt>
        <dd>
          <span>{{ produit.nomProduit }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.prix">Prix</span></dt>
        <dd>
          <span>{{ produit.prix }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.description">Description</span></dt>
        <dd>
          <span>{{ produit.description }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.dispinobilite">Dispinobilite</span></dt>
        <dd>
          <span>{{ produit.dispinobilite }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.produitCommande">Produit Commande</span></dt>
        <dd>
          <div *ngIf="produit.produitCommande">
            <a [routerLink]="['/produit-commande', produit.produitCommande?.id, 'view']">{{ produit.produitCommande?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.produit.commercant">Commercant</span></dt>
        <dd>
          <div *ngIf="produit.commercant">
            <a [routerLink]="['/commercant', produit.commercant?.id, 'view']">{{ produit.commercant?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
